.section {
    padding: 95px 0 0 0;
    background-color: #000;
}
.nav {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav a {
    display: inline-block;
    font-size: 35px;
    margin-bottom: 35px;
    color: #535353;
    font-family: 'Oxygen', Helvetica Neue, sans-serif;
}
.secondFooter {
    padding: 45px 0 20px 0;
    text-align: left;
}
.email {
    display: inline-block;
    color: #606060;
    font-size: 18px;
}
.social a {
    display: inline-block;
    color: #606060;
    font-size: 18px;
}
.social a:first-of-type {
    margin-right: 7px;
}
@media only screen and (max-width: 600px) {
    .section {
      padding: 45px 0 0 0;
    }
}