.nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 2;
}
.navLinks {
    position: fixed;
    top: 65px;
    right: 20px;
}
.navLinks a {
    margin-left: 15px;
    color: #E4E4E4;
    font-szie: 18px;
    font-family: 'Oxygen', Helvetica Neue, sans-serif;
}
.navLinks a:first-child {
    margin-left: 0;
}