.nav {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 11;
}
.navLinks {
    position: fixed;
    z-index: 10;
    top: 55px;
    left: 0;
    width: 100%;
}
.navLinks a {
    margin-left: 15px;
    color: #E4E4E4;
    font-size: 14px;
    letter-spacing: 1.5px;
}
.navLinks a:first-child {
    margin-left: 0;
}
@media only screen and (max-width: 600px) {
    .nav {
        top: 45px;
    }
    .navLinks {
        top: 72px;
    }
}